*{
    margin: auto;
}

nav{
    background-color: #000000;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li{
    background: #000000;
    margin: 15px;
    padding: 15px;

    text-align: center;
    width: 120px;
}

li a {
    text-decoration: none;
    color: white;
}

li a hover {
    
    color: yellow;
}

h1 {
    text-align: center;
}

.contenedorpagina{
    justify-content: center;
}

.contenedortextoimagen{
    justify-content: center;
    width: 80%;
    display: flex;
}

.cajatexto {
    width: 100%;
    height: 260px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
}

.textobold {
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

footer{
    background: #000000;
    height: 118px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    color: white;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
}

.foto {
    width: 272px;
    height: 260px;
    left: 52px;
    top: 261px;
    border-radius: 115.5px;
}

.subtitulos{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(216, 216, 216);
}

body {
    background-color: #71739C;
}

.contenedorpagina h2{
    display: inline;
    margin-left: 8.5em;
    color: white;
}

.contenedor{
    text-align: center;
}


header{
    display: flex;
    margin: 0 auto;
}

h1{
    color: rgb(255, 255, 255);
}

img {
    padding: 10px;
    width: 20%;
    height: auto;
}

#titulo{
    font-size: xx-large;
    padding: 30px;
    color: #ffffff;
    width: 400px;
}

#subtitulo {
    font-size: x-large;
    padding: 10px;
    color: rgb(255, 255, 255);
    width: 200px;
}
.claseletras{
    font-family: Arial;
    color: rgb(226, 226, 226);
}

header nav {
    display: flex;
    list-style: none;
    padding: 20px;
    margin: 0 auto;
    
}

header a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    
}


